@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
}

@keyframes appearingMessage {
  0% {
    font-weight: 400;
    letter-spacing: normal;
    opacity: 0;
  }
  50% {
    font-weight: 500;
    letter-spacing: 8px;
    opacity: 1;
  }
  100% {
    font-weight: 500;
    letter-spacing: 12px;
    opacity: 0;
  }
}

@keyframes countdown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    font-size: smaller;
  }
}

@keyframes countdown-shadow {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
    font-size: 8rem;
    line-height: 1;
  }
}

.animation-countdown {
  animation: countdown 1s ease-in-out forwards;
}

.animation-countdown-shadow {
  animation: countdown-shadow 1s ease-in-out forwards;
}
